<div class="container">
    <div class="form-container">
        <mat-card class="form-card">
            <mat-card-header>
                <mat-card-title>LOGIN</mat-card-title>
                <mat-card-subtitle>Seleccione la localidad</mat-card-subtitle>
              </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Escoge una localidad</mat-label>
                    <mat-select [(ngModel)]="selectedValue">
                        <mat-option [value]="localidad.idlocalidad" *ngFor="let localidad of localidades">{{ localidad.nombre }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-raised-button class="btn-ingresar" [disabled]="selectedValue==-1" (click)="ingresar();">
                        <span>Ingresar</span>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>